.topProfileStateWrapper {
    width:100%;
    padding:1em;
}
.tierImg {
    width:130px;
    height:130px;
    margin:0 auto;
    margin-top:10px;
    float:none;
}
.tierImg > img {
    width:100%;
    height:100%;
    
}
.tierTextArea {
    padding-top:20px;
    padding-left:20px;
}
.tierTextArea2 {
    padding-left:20px;
}

.rightLeagueContent {
    float:left;
}
.circularProgressbarStyle svg {
    max-width:100px;
    margin-top: 35px;
}
.preferWrap {
    margin:0 auto;
    float:none;
    width:180px;
    height:110px;
}
.preferChamp {
    width:70px;
    height:70px;
    border-radius: 50%;
    overflow:visible;
}
.preferLine {
    overflow:visible;
    float:right;
    width:70px;
    height:49px;
    margin-top:10px;
}
.preferChamp > span , 
.preferLine > span {
    position:absolute;
    bottom:-25px;
    width:80px;
    left: calc(50% - 40px);
}
.preferLine > span { bottom:-35px }